a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    user-select: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;

}

.navigation {
    display: flex;
    align-items: center;
    margin-left: 10vw;
    height: 40px;
  font-family: 'Comfortaa', cursive;
    z-index: 6;
    /* overflow: hidden; */
}

.navigation_list {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.navigation_list_item {
    margin: 0;
    padding: 0 10px;
    font-size: 16px;
    text-decoration: none;
    height: 100%;
    color: white;
    background-color: var(--dark-grey);;
    border: 3px solid var(--dark-grey);
}


.navigation_list_item.active {
    background-color: #0d6efd;

}

.navigation_list_item a {
    display: flex;
    align-items: center;
    margin: 0;
    height: 100%;
}

/* DROP MENU */

.drop_list {
    position: absolute;
    width: inherit;
    transition: 0.3s;

    height: 0;
    background-color: var(--light-grey);
    overflow: hidden;
}

.navigation_list_item:nth-child(n):hover .drop_list {
    transition: 0.3s;
    height: auto;
}

.drop_list_item {
    font-size: 14px;
    padding: 4px 2px;
}

.drop_list_item:hover {
    background-color: white;
}