.carousel {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: rgb(228, 228, 228);
    overflow: hidden;
}

.carousel_button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    width: 5%;
    height: 50%;
    border: 1px solid rgb(182, 182, 182);
    background-color: rgb(240, 240, 240);
    z-index: 3;
    opacity: 50%;
}

.carousel_button:hover {
    opacity: 80%;
}

.carousel_button, .carousel_button * {
    cursor: pointer;
}

.carousel_button.button_right {
    left: 95%;
}

.carousel_button img {
    width: 100%;
    height: inherit;
    
}