h2 {
    font-family: Montserrat;
    font-size: 15px;
}
.films_list {
    display: flex;
    flex-direction: row;
}

.films_list_item {
    position: relative;
    width: 150px;
    margin: 5px;
}

.item_poster {
    width: inherit;
    
}

.films_list_item_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: inherit;
    height: 30px;
}

.vote-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: inherit;
}

.rating_icon {
    width: 15px;
}

.rating_coefficient {
    display: flex;
    justify-content: center;
    font-size: 10px;
    margin-left: 5px;
    font-family: Montserrat;
}

.restrictions_list {
    position: absolute;
    width: inherit;
    top: 0;
    margin: 5px;
}

.restrictions_list img {
    width: 15px
}