* {
    transition: 0.3s;
}

h2 {
    font-size: 15px;
}

.films_list {
    display: flex;
    align-items: center;
    height: inherit;
    font-family: Montserrat;

}

.films_list_item {
    height: 95%;
    margin: 5px;
}

.films_list_item img {
    height: 80%;
}

.vote-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20%;
}

.vote-rating img {
    margin-right: 5px;
    width: 15px;
}
